.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    text-align: center;
  }
  .content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    align-items: flex-start;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 300px;
  }
  
  .results {
    width: 100%;
    max-width: auto;
    padding: 16px;
    text-align: left;
  }
  
  .mat-table {
    width: 100%;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.20);
  }
  